body {
    padding: 0;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

#books-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.cover-box {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.book-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: inherit;
    transition: transform 0.2s;
}

.book-card:hover {
    transform: translateY(-5px);
}

.title-box {
    margin-top: 10px;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
}

#book-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#book-image-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#book-info {
    text-align: center;
}

#book-title {
    font-size: 2em;
    margin-top: 20px;
}

#book-authors, #book-summary {
    font-size: 1.2em;
    margin-top: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #4CAF50;
    color: white;
}

#back-button {
    background-color: white;
    color: #4CAF50;
    border: 2px solid #4CAF50;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#back-button:hover {
    background-color: #4CAF50;
    color: white;
}